*~
.*.swp
/.vagrant
/apt-cache
/assets
/css-sync
/logs
/protected/config/console.php
/protected/config/db.json
/protected/config/local.php
/protected/runtime/
/protected/scripts/init_perms.sh
/protected/scripts/set_env.sh
