#!/bin/sh

DB_HOST=localhost
DB_NAME=cogini_music_dev
DB_USER=cogini_music_dev
DB_PASS=secret

export PGDATABASE=$DATABASE
export PGHOST=$DB_HOST
export PGUSER=$DB_USER
export PGPASSWORD=$DB_PASS

#export PATH=$PATH:`pwd`/utils
#alias domysql='mysql -h $DB_HOST -u $DB_USER -p${DB_PASS} $DB_NAME'

