<?php

# http://www.yiiframework.com/doc/cookbook/52/
$pre_config = CMap::mergeArray(
     require(dirname(__FILE__).'/modules.php'),
     require(dirname(__FILE__).'/db.php')
 );

# Location where user images are stored
#Yii::setPathOfAlias('uploadPath', realpath(dirname(__FILE__). '/../../images/uploads'));
#Yii::setPathOfAlias('uploadURL', '/images/uploads/');

// This is the main Web application configuration. Any writable
// CWebApplication properties can be configured here.
return CMap::mergeArray($pre_config, array(
    'basePath'=>dirname(__FILE__).DIRECTORY_SEPARATOR.'..',
    'name'=>'Music',
    #'sourceLanguage' => 'en_au', 
    #'language'=>'zh_tw',
    #'timeZone' => 'Australia/Sydney', 
    #'timeZone'=>"Asia/Taipei",

    #'defaultController'=>'site',

    // preloading 'log' component
    'preload'=>array('log'),

    // autoloading model and component classes
    'import'=>array(
        'application.models.*',
        'application.components.*',
        'application.behaviors.*',
        'application.vendors.*',
        'application.helpers.*',
    ),

    // application components
    'components'=>array(
        'cache' => array(
            'class' => 'system.caching.CFileCache'
        ),
        'session' => array(
            'class' => 'system.web.CDbHttpSession',
            'connectionID' => 'db',
            'timeout' => 3600,
            #'cookieParams' => array(
            #    'domain' => '.cogini.com',
            #    'path'  => '/',
            #),
        ),
        'errorHandler'=>array(
            'errorAction'=>'site/error',
        ),
        'urlManager'=>array(
            'urlFormat'=>'path',
            'showScriptName'=>false,
            'rules'=>array(
                #'search/<search:.+>'=>'site/index',
                #'search'=>'site/index',
                #'download/<search:.+>'=>'site/index',
                #'download'=>'site/index',
                #'.*'=>'site/index',
            ),
        ),
        'log'=>array(
            'class'=>'CLogRouter',
            'routes'=>array(
                array(
                    'class'=>'CFileLogRoute',
                    #'levels'=>'error, warning',
                    'levels'=>'error, warning, info, debug',
                    #'filter'=>'CLogFilter',
                ),
                # uncomment the following to show log messages on web pages
                #array(
                #    'class'=>'CWebLogRoute',
                #),
            ),
        ),
        'messages'=>array(
            'class'=>'CPhpMessageSource',
        ),
        'user'=>array(
            // enable cookie-based authentication
            'allowAutoLogin'=>true,
            #'stateKeyPrefix' => 'foo',
        ),
        'authManager'=>array(
            'class'=>'CDbAuthManager',
            #'defaultRoles'=>array('end_user'),
            'connectionID'=>'db',
        ),
        # 
#		'db'=>array(
#			'connectionString' => 'mysql:host=db1.cogini.com;dbname=bnb_dev',
#			#'connectionString' => 'mysql:host=localhost;dbname=bnb_dev',
#			'emulatePrepare' => true,
#			'username' => 'bnb_dev',
#			'password' => 'veiw5eveGh', //0YaCqTEekWBcVa9I',
#			'charset' => 'utf8',
#            # turn on schema caching to improve performance
#            # 'schemaCachingDuration'=>3600,
#		),
#        'image'=>array(
#            'class'=>'application.extensions.image.CImageComponent',
#            # GD or ImageMagick
#            'driver'=>'GD',
#            # ImageMagick setup path
#            #'params'=>array('directory'=>'/opt/local/bin'),
#        ),
        'widgetFactory'=>array(
#            'widgets'=>array(
#                #'CLinkPager'=>array(
#                #    'maxButtonCount'=>5,
#                #    'cssFile' => Yii::app()->baseUrl.'/css/pager.css',
#                #),
#                #'CGridView'=>array(
#                #    'cssFile' => '/css/gridview-styles.css',
#                #),
#                'CLinkPager'=>array(
#                    #'maxButtonCount'=>5,
#                    #'cssFile' => Yii::app()->baseUrl.'/css/pager.css',
#                    'header' => '',
#                    'firstPageLabel' => '&lt; %lt;',
#                    'prevPageLabel' => '&lt;',
#                    'nextPageLabel' => '&gt;',
#                    'lastPageLabel' => '&gt; &gt;',
#                ),
#                'CListView'=>array(
#                    'emptyText'=>Yii::t('app', 'No results found'),
#                    'summaryText'=>Yii::t('app', "Total of {pages} pages: Displaying page {page}/{pages}"),
#                    'template'=>"{items}\n{summary}\n{pager}",
#                ),
#            ),
        ),
    ),

    // application-level parameters that can be accessed
    // using Yii::app()->params['paramName']
    'params'=>array(
        'home_url' => 'http://music.cogini.com', # Where top level link goes to

        'timezone'=>"Asia/Taipei",
        
		# Used in the contact page
		'adminEmail'=>'support@cogini.com',

        # This is used as the sender of emails
        'app_email_name' => 'Music',
        'app_email' => 'support@cogini.com',
        'email_prefix' => '[Music] ',

        'support_email' => 'support@cogini.com',
        'email_prefix' => '', # put at the begining of the subject line
        'contact_email' => 'support@cogini.com', # this is used in the contact page

        # Notified when a new user signs up
        'notify_email' => 'support@cogini.com',

        # Cogini
        'recaptcha_publickey' => '6LdkzgsAAAAAAGFJ5GdJyXf4JvFqKJe5N0-F3IRt',
        'recaptcha_privatekey' => '6LdkzgsAAAAAAD6w-JyWXLfN1260aeRNl33I-JH9',
        "google_analytics_profile" => "UA-7881029-2", 

        # date formats
        'js_date_format' => 'dd-mm-yy',
        'db_date_format' => "%Y-%m-%d",
        'display_date_format' => "%d-%m-%Y",
        'display_short_date_format' => "%d-%m", 
   ),
));

